name: Build NPM Package as Release

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Version of the Client package'
        required: true

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          ref: ${{ github.ref }}
          fetch-depth: 0

      - name: Get Branch Name
        id: get_branch_name
        run: |
          FULLNAME=${{ github.ref }}
          BRANCHNAMEORIGIN=${FULLNAME#*/}
          BRANCHNAME=${BRANCHNAMEORIGIN#*/}
          echo ::set-output name=branch::$BRANCHNAME

      - name: Version Package
        run: |
          npm version --allow-same-version --no-git-tag-version ${{ github.event.inputs.version }}
          cd projects/@crucible-common
          npm version --allow-same-version --no-git-tag-version ${{ github.event.inputs.version }}

      - name: Add & Commit
        uses: EndBug/add-and-commit@v5.1.0
        with:
          author_name: Github Actions
          branch: ${{ steps.get_branch_name.outputs.name }}
          message: Update version number to ${{ github.event.inputs.version }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Setup Node.js environment
        uses: actions/setup-node@v2.1.2
        with:
          # Set always-auth in npmrc
          node-version: '21'
          registry-url: 'https://registry.npmjs.org'

      - name: Publish to npmjs
        run: |
          npm install
          npm run pack
          npm publish dist/@crucible-common/cmusei-crucible-common-${{ github.event.inputs.version }}.tgz --access public
        env:
          NPM_TOKEN: ${{ secrets.NPM_APIKEY }}
          NODE_AUTH_TOKEN: ${{ secrets.NPM_APIKEY }}
